:root {
  --preto: #303030;
  --roxo: #7b17fd;
}

.caixa-topo a {
  color: var(--roxo);
  list-style: none;
  text-decoration: none;
}

.caixa-topo {
  z-index: 1000;
  position: fixed;
  max-width: 100%;
  width: 100%;
}

.caixa-topo,
.titulo-curso,
.link-curso {
  border-bottom: 3px solid var(--roxo);
  height: 70px;
  color: var(--preto);
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  background: rgb(255, 209, 2);
  align-items: center;
  white-space: nowrap;
}

.link-curso,
.titulo-curso {
  position: relative;
  top: 1px;
  padding: 0;

}

.link-curso:hover {
  color: var(--roxo);
  border-bottom: 3px solid #ff00f2;
}

.link-curso:hover ion-icon {
  color: var(--roxo);
}

strong {
  margin-right: 10px;
  color: var(--preto);
}

b {
  color: var(--preto);
  font-weight: 500;
}

ion-icon {
  font-size: 1.7rem;
  margin-right: 10px;
  color: var(--preto);
}

.titulo-curso {}

@media screen and (max-width: 800px) {
  .caixa-topo b {
    display: none;
  }
}

@media screen and (max-width:600px) {
  .caixa-topo strong {
    display: none;
  }
}