@import url("../css/theme.css");

.dracula-theme .caixa-topo,
.dracula-theme .titulo-curso,
.dracula-theme .link-curso {
  border-bottom: 3px solid var(--Purple);
  background: var(--Current-Line);
}

.dracula-theme .link-curso:hover {
  border-bottom: 3px solid var(--Pink);
}

.dracula-theme .link-curso:hover ion-icon,
.dracula-theme .link-curso:hover,
.dracula-theme .item-menu_esquerda .dark-light #tema-night:hover {
  color: var(--Orange);
}

.dracula-theme ion-icon,
.dracula-theme b,
.dracula-theme strong,
.dracula-theme .caixa-topo,
.dracula-theme .titulo-curso,
.dracula-theme .link-curso {
  color: var(--Foreground);
}

.dracula-theme strong {
  color: var(--Purple);
}


.caixa-topo a {
  color: var(--Purple);
  list-style: none;
  text-decoration: none;
}

.caixa-topo {
  z-index: 1000;
  position: fixed;
  max-width: 100%;
  width: 100%;
}

.caixa-topo,
.titulo-curso,
.link-curso {
  border-bottom: 3px solid var(--Purple);
  height: 70px;
  color: var(--Preto);
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  background: var(--White);
  align-items: center;
  white-space: nowrap;
  flex-direction: row;
}

.item-menu_esquerda {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.item-menu_esquerda .dark-light ion-icon {
  margin-top: 5px;
  margin-right: 30px;
  cursor: pointer;
}

.item-menu_esquerda .dark-light #tema-light:hover {
  color: var(--Purple);
}


.link-curso,
.titulo-curso {
  position: relative;
  top: 1px;
  padding: 0;

}

.link-curso:hover {
  color: var(--Purple);
  border-bottom: 3px solid var(--Pink);
}

.link-curso:hover ion-icon {
  color: var(--Purple);
}

strong {
  margin-right: 10px;
  color: var(--Purple);
}

b {
  color: var(--Preto);
  font-weight: 500;
}

ion-icon {
  font-size: 1.7rem;
  margin-right: 10px;
  color: var(--Preto);
}

.titulo-curso {}

@media screen and (max-width: 800px) {
  .caixa-topo b {
    display: none;
  }
}

@media screen and (max-width:600px) {
  .caixa-topo strong {
    display: none;
  }
}

#tema-night {
  opacity: 0;
  margin-right: -30px;
}

#tema-light {
  opacity: 1;
}

.dracula-theme #tema-night {
  z-index: 900;
  opacity: 1;
}

.dracula-theme #tema-light {
  opacity: 0;
}