@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Bold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Light.ttf');
    font-weight: 300;
}



@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Light.ttf');
    font-weight: 300;
}



@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Light.ttf');
    font-weight: 300;
}



@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/Ubuntu-Bold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/Ubuntu-Light.ttf');
    font-weight: 300;
}