body.dracula-theme {
    background-color: var(--Background);
    color: var(--Comment);
}

body.dracula-theme .login-form img {
    filter: brightness(200);
}

.login {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.login-form {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-width: 400px;
}

.login-form img {
    width: 350px;
}

.banner-login {
    width: 60%;
    height: 100%;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;

}

.banner-login .fundo-img-banner {
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: linear-gradient(to top, var(--Purple), var(--Purple));
    z-index: 2;

}

.banner-login img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    object-fit: cover;
}

.login-form-wrapper {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.login-form-wrapper button {
    width: 100%;
    background: linear-gradient(118deg, var(--Purple), var(--Purple));
    color: white;
    border: none;
    padding: 10px;
    transition: all .2s;
    margin-top: 10px;
}

.login-form-wrapper button:hover {
    transform: scale(1.02);
    background: linear-gradient(40deg, var(--Pink), var(--Pink));
}
.dracula-theme .form-control {
    background-color: var(--Current-Line);
    border: none;
}
.dracula-theme input::placeholder{
    color: var(--Comment);
}