.login {
    height: 100%;
    display: flex;
    flex-direction: row;
}
.login-form {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.login-form img {
    width: 350px;
}
.banner-login {
    width: 60%;
    height: 100%;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;

}
.banner-login .fundo-img-banner {
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: linear-gradient(to top, #9900ff, #0066ff);
    z-index: 2;

}
.banner-login h2 {
    position: absolute;
    z-index: 10;
    padding: 50px;
    margin: 20px;
    color: white;
    background: rgba(108, 0, 231, 0.733);


}
.banner-login img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    object-fit: cover;
}
.login-form-wrapper {

    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px ;
}
.login-form-wrapper button {
    width: 100%;
    background: linear-gradient(118deg, #478cff, #80afff);
    color: white !important;
    border: none;
    padding: 10px;
    transition: all .2s;
    margin-top: 10px;
}
.login-form-wrapper button:hover {
    transform: scale(1.02);
    background: linear-gradient(40deg, #478cff, #80afff);
}
