<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard com HTML, CSS e JS</title>
    <link rel="stylesheet" href="../css/cursoatual.css">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <!-- BARRA TOPO CURSO ATUAL -->
    <div>
        <div class="caixa-topo">
            <div class="titulo-curso">
                <ion-icon name="code-slash-outline">
                </ion-icon><strong>Dashboard com HTML, CSS e JS</strong>Erick Vieira • Youtube
            </div>
            <a href="https://www.youtube.com/watch?v=cC7CwOSG_kE" target="_blank">
                <div class="link-curso">
                    <ion-icon name="earth-outline"></ion-icon> Link do curso
                </div>
            </a>

        </div>
    </div>

    <!-- CURSO -->



    <!-- Bootstrap and Font Awesome -->
    <script src="plugins/fontawesome/js/all.min.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- ICONS -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>